extends ../layout.pug

block content
  form(method="post", action="/users")
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        .panel.panel-info
          .panel-heading
            h3.panel-title
              i.fa.fa-fw.fa-user-o
              |  使用者註冊
          .panel-body(style="padding-bottom: 0")
            .form-group
              label(for="username") 帳號
              input#username.form-control(type="text", name="username", placeholder="username")
            .form-group
              label(for="passwd") 密碼
              input#passwd.form-control(type="password", name="passwd", placeholder="password")
            .form-group
              label(for="passwd_confirm") 確認密碼
              input#passwd.form-control(type="password", name="passwd_confirm", placeholder="password confirm")
          .panel-footer
            button.btn.btn-success(type="submit") 註 冊
